{% extends "LoveLetterPlatformBundle::layoutJeu.html.twig" %}

{% block LoveLetterplatform_body %}

  <h1>Point de vu du joueur {{joueur}}</h1>
  <table border = 1>
        <tr>  
     {% for joueurL in Liste %}
          <th><a href='http://localhost/LoveLetter/web/app_dev.php/{{action}}?id_manche={{id}}&nb_joueur={{joueur}}&choixJoueur={{joueurL}}'>
             Joueur {{joueurL}}
         </a></th>
     {% endfor %}    
        </tr>  
        <tr>  
     {% for joueurL in Liste %}
          <th><a href='http://localhost/LoveLetter/web/app_dev.php/{{action}}?id_manche={{id}}&nb_joueur={{joueur}}&choixJoueur={{joueurL}}'>
             <img src=http://static.mnium.org/images/contenu/actus/HearthStone/Dos_de_cartes/Hearthstone_dos_de_cartes_saison_22.png  alt="" width="211" height="300" />
         </a></th>
     {% endfor %}    
 </table>
  
{% endblock %}
