{# empty Twig template #}
{% extends "LoveLetterPlatformBundle::layoutJeu.html.twig" %}

{% block LoveLetterplatform_body %}
    
    <h1>Quelque carte pense veux tu choisir</h1>
    <table border = 0>
        <tr>
   {% for carte in liste_cartes %}
       <th><a href='http://localhost/LoveLetter/web/app_dev.php/GardeChoix2?id_manche={{id}}&nb_joueur={{joueur}}&id_carte={{carte.nombre}}&choixJoueur={{jchoisie}}'>
    <img src={{carte.url}} alt="" width="211" height="300" />
    </a></th>
  {% else %}
    <th>Pas de carte</th>
  {% endfor %}
  </tr>
     </table>
{% endblock %}