{% extends "LoveLetterPlatformBundle::layoutJeu.html.twig" %}

{% block LoveLetterplatform_body %}

  <h1>Point de vu du joueur {{joueur}}</h1>
  <table>
    <tr>   
         <th>carte joueur</th>
  {% for carte in liste_cartesJ1 %}
    <th>  <a href='http://localhost/LoveLetter/web/app_dev.php/Choix?id_manche={{id}}&nb_joueur={{joueur}}&numCarteChoisi={{carte.nombre}}'>
    <img src={{carte.url}} alt="" width="211" height="300" />
    </a></th>
  {% else %}
    <th><li>Pas de carte</li></th>
  {% endfor %}
  </tr>
  
  <tr>   
   <th>carte defausser par j1 </th>
  {% for carte in liste_cartesJouerJ1 %}
    <th><img src={{carte.url}} alt="" width="211" height="300" /></th>
  {% else %}
    <th><li>Pas de carte</li></th>
  {% endfor %}
  </tr>
  
  <tr> 
  <th>carte adversaire</th>
  {% block pretre %}
    {% for carte in liste_cartesJ2 %}
      <th><img src=http://static.mnium.org/images/contenu/actus/HearthStone/Dos_de_cartes/Hearthstone_dos_de_cartes_saison_22.png  alt="" width="211" height="300" /></th>
    {% else %}
      <th><li>Pas de carte</li></th>
    {% endfor %}
  {% endblock %}
  </tr> 
  
   <tr> 
   <th>carte defausser par j2</th>
  {% for carte in liste_cartesJouerJ2 %}
   <th> <img src={{carte.url}} alt="" width="211" height="300" /></th>
  {% else %}
   <th> <li>Pas de carte</li></th>
  {% endfor %}
  
  {%block effet %}
  {% endblock %}
  </tr> 
  
 </table>
  
{% endblock %}
